a {
    border: 4px solid #1C4C16;
    border-radius: 20px 20px 20px 20px;
    float: left;
    height: 230px;
    font-size: 3em;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 1px 1px 2px #000000;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    padding: 0px 10px;
}

.failure
{
    background:red;
    animation:amberflash 2s;
    -moz-animation:amberflash 2s; /* Firefox */
    -moz-animation-iteration-count:infinite; /* Firefox */
    -webkit-animation:amberflash 2s; /* Safari and Chrome */
    -webkit-animation-iteration-count:infinite; /* Safari and Chrome */
    -o-animation:amberflash 2s; /* Opera */
    -o-animation-iteration-count:infinite; /* Opera */
}

@keyframes amberflash
{
0%   {background:red;}
50%   {background:orange;}
100% {background:red;}
}

@-moz-keyframes amberflash /* Firefox */
{
0%   {background:red;}
50%   {background:orange;}
100% {background:red;}
}

@-webkit-keyframes amberflash /* Safari and Chrome */
{
0%   {background:red;}
50%   {background:orange;}
100% {background:red;}
}

@-o-keyframes amberflash /* Opera */
{
0%   {background:red;}
50%   {background:orange;}
100% {background:red;}
}

.success {
    background: none repeat scroll 0 0 #407A39;
}

.failure {
    background: none repeat scroll 0 0 red;
}

body {
    background-color: #000000;
}